.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autheticate {
  border: 2px solid white;
  border-radius: 1em;
  padding: .4em;
  transition: 200ms;
}
.autheticate:hover {
  background-color: #000000;
  cursor: pointer;
}