.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.db-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: .5em;
    border-bottom: 2px solid white;
}

.db-header > a {
    width: 81px;
    height: 81px;
}

.db-img {
    border: 2px solid transparent;
    border-radius: .5em;
    width: 80px;
    height: 80px;
    transition: 200ms;
}

.db-img:hover {
    border-color: white;
}

.db-greet {
    font-size: 2em;
    font-weight: bold;
}

.top-items {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.error {
    font-size: 2em;
    color: red;
}

@media screen and (max-width: 1250px)  {
    .top-items {
        flex-direction: column;
    }
}