.top-tracks {
    width: 600px;
}

.tracks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    font-size: 2em;
}

.tracks-title {
    font-weight: bold;
}

.top-info {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: .6em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    list-style: none;
    cursor: text;
}

.top-info .top-info-tooltip {
    visibility: hidden;
    width: 220px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: .2em .3em;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: 200ms;
}

.top-info-tooltip {
    top: -250%;
    left: 50%;
    margin-left: -116px;
    border-width: 5px;
}

.top-info:hover .top-info-tooltip {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
}

.tracks-time-range {
    display: flex;
    align-items: center;
    gap: .5em;
    margin: 0;
}

.track-list {
    border: 2px solid white;
    border-right: 0px;
    border-radius: 4px;
    height: 600px;
    scrollbar-width: thin;
    scrollbar-color: #0a0a0a #ffffff;
    overflow: auto;
}

.track-time-active, .track-time-inactive {
    list-style: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: 200ms;
}
.track-time-active:hover, .track-time-inactive:hover {
    border-bottom-color: rgba(255, 255, 255, 0.9);
}

.track-time-active {
    border-bottom-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1250px) {
    .top-info:hover .top-info-tooltip {
        background-color: rgba(0, 0, 0, 1);
    }
}
